@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
@section css{
    <link rel="stylesheet" href="~/css/site_do.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DOwithStop.styles.css" asp-append-version="true" />
}



<div class="parentcard">
    <div class="card-group">
        <div class="card cardcontainer" id="mch1">
            <div class="card-header">LITHO 1</div>
            <div class="flip-card-inner" id="cardmch1" onclick="flipCard(this.id)">
                <div class="card-body custcardbody flip-card-front">
                    <span class="actualtext ">0</span>
                    <span class="slashtext">/</span>
                    <span class="targettext">0</span>
                    <div class="mchnorundetails">Test</div>
                </div>
                <div class="flip-card-back">
                    <canvas id="chartmch1" class="cvsstyle"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted float-start">1000 congo</p>
                <p class="text-muted float-end">OEE : 78%</p>
            </div>
        </div>
        <div class="card cardcontainer" id="mch2">
            <div class="card-header">Header</div>
            <div class="flip-card-inner" id="cardmch2" onclick="flipCard(this.id)">
                <div class="card-body custcardbody flip-card-front">
                    <span class="actualtext ">0</span>
                    <span class="slashtext">/</span>
                    <span class="targettext">0</span>
                    <div class="mchnorundetails">Test</div>
                </div>
                <div class="flip-card-back">

                    <canvas id="chartmch2" class="cvsstyle"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted float-start">1000 congo</p>
                <p class="text-muted float-end">OEE : 78%</p>
            </div>
        </div>
        <div class="card cardcontainer" id="mch11" >
            <div class="card-header">Header</div>
            <div class="flip-card-inner" id="cardmch11" onclick="flipCard(this.id)">
                <div class="card-body custcardbody flip-card-front">
                    <span class="actualtext ">0</span>
                    <span class="slashtext">/</span>
                    <span class="targettext">0</span>
                    <div class="mchnorundetails">Test</div>
                </div>
                <div class="flip-card-back">

                    <canvas id="chartmch11" class="cvsstyle"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted float-start">1000 congo</p>
                <p class="text-muted float-end">OEE : 78%</p>
            </div>
        </div>
        <div class="card cardcontainer" id="mch12" >
            <div class="card-header">Header</div>
            <div class="flip-card-inner" id="cardmch12" onclick="flipCard(this.id)">
                <div class="card-body custcardbody flip-card-front">
                    <span class="actualtext ">0</span>
                    <span class="slashtext">/</span>
                    <span class="targettext">0</span>
                    <div class="mchnorundetails">Test</div>
                </div>
                <div class="flip-card-back">

                    <canvas id="chartmch12" class="cvsstyle"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted float-start">1000 congo</p>
                <p class="text-muted float-end">OEE : 78%</p>
            </div>
        </div>
        <div class="card cardcontainer" id="mch13" >
            <div class="card-header">Header</div>
            <div class="flip-card-inner" id="cardmch13" onclick="flipCard(this.id)">
                <div class="card-body custcardbody flip-card-front">
                    <span class="actualtext ">0</span>
                    <span class="slashtext">/</span>
                    <span class="targettext">0</span>
                    <div class="mchnorundetails">Test</div>
                </div>
                <div class="flip-card-back">

                    <canvas id="chartmch13" class="cvsstyle"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted float-start">1000 congo</p>
                <p class="text-muted float-end">OEE : 78%</p>
            </div>
        </div>
    </div>
    <div class="card-group">
        @*DIV if follows Machine ID*@
        <div class="card cardcontainer-row2" id="mch14" >
            <div class="card-header">LITHO 1</div>
            <div class="flip-card-inner" id="cardmch14" onclick="flipCard(this.id)">
                <div class="card-body custcardbody flip-card-front">
                    <span class="actualtext ">0</span>
                    <span class="slashtext">/</span>
                    <span class="targettext">0</span>
                    <div class="mchnorundetails">Test</div>
                </div>
                <div class="flip-card-back">

                    <canvas id="chartmch14" class="cvsstyle"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted float-start">1000 congo</p>
                <p class="text-muted float-end">OEE : 78%</p>
            </div>
        </div>
        <div class="card cardcontainer-row2" id="mch15">
            <div class="card-header">Header</div>
            <div class="flip-card-inner" id="cardmch15" onclick="flipCard(this.id)">
                <div class="card-body custcardbody flip-card-front">
                    <span class="actualtext ">0</span>
                    <span class="slashtext">/</span>
                    <span class="targettext">0</span>
                    <div class="mchnorundetails">Test</div>
                </div>
                <div class="flip-card-back">

                    <canvas id="chartmch15" class="cvsstyle"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted float-start">1000 congo</p>
                <p class="text-muted float-end">OEE : 78%</p>
            </div>
        </div>
        <div class="card cardcontainer-row2" id="mch3">
            <div class="card-header">Header</div>
            <div class="flip-card-inner" id="cardmch3" onclick="flipCard(this.id)">
                <div class="card-body custcardbody flip-card-front">
                    <span class="actualtext ">0</span>
                    <span class="slashtext">/</span>
                    <span class="targettext">0</span>
                    <div class="mchnorundetails">Test</div>
                </div>
                <div class="flip-card-back">

                    <canvas id="chartmch3" class="cvsstyle"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted float-start">1000 congo</p>
                <p class="text-muted float-end">OEE : 78%</p>
            </div>
        </div>
        <div class="card cardcontainer-row2" id="mch4">
            <div class="card-header">Header</div>
            <div class="flip-card-inner" id="cardmch4" onclick="flipCard(this.id)">
                <div class="card-body custcardbody flip-card-front">
                    <span class="actualtext ">0</span>
                    <span class="slashtext">/</span>
                    <span class="targettext">0</span>
                    <div class="mchnorundetails">Test</div>
                </div>
                <div class="flip-card-back">

                    <canvas id="chartmch4" class="cvsstyle"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted float-start">1000 congo</p>
                <p class="text-muted float-end">OEE : 78%</p>
            </div>
        </div>
        <div class="card cardcontainer-row2" id="mch9">
            <div class="card-header">Header</div>
            <div class="flip-card-inner" id="cardmch9" onclick="flipCard(this.id)">
                <div class="card-body custcardbody flip-card-front">
                    <span class="actualtext ">0</span>
                    <span class="slashtext">/</span>
                    <span class="targettext">0</span>
                    <div class="mchnorundetails">Test</div>
                </div>
                <div class="flip-card-back">
                    <canvas id="chartmch9" class="cvsstyle"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted float-start">1000 congo</p>
                <p class="text-muted float-end">OEE : 78%</p>
            </div>
        </div>
    </div>

    <div class="card-group">
        <div class="card cardcontainer-row3" id="mch6">
            <div class="card-header">LITHO 1</div>
            <div class="flip-card-inner" id="cardmch6" onclick="flipCard(this.id)">
                <div class="card-body custcardbody flip-card-front">
                    <span class="actualtext ">0</span>
                    <span class="slashtext">/</span>
                    <span class="targettext">0</span>
                    <div class="mchnorundetails">Test</div>
                </div>
                <div class="flip-card-back">

                    <canvas id="chartmch6" class="cvsstyle"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted float-start">1000 congo</p>
                <p class="text-muted float-end">OEE : 78%</p>
            </div>
        </div>
        <div class="card cardcontainer-row3" id="mch7">
            <div class="card-header">Header</div>
            <div class="flip-card-inner" id="cardmch7" onclick="flipCard(this.id)">
                <div class="card-body custcardbody flip-card-front">
                    <span class="actualtext ">0</span>
                    <span class="slashtext">/</span>
                    <span class="targettext">0</span>
                    <div class="mchnorundetails">Test</div>
                </div>
                <div class="flip-card-back">

                    <canvas id="chartmch7" class="cvsstyle"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted float-start">1000 congo</p>
                <p class="text-muted float-end">OEE : 78%</p>
            </div>
        </div>
        <div class="card cardcontainer-row3" id="mch8">
            <div class="card-header">Header</div>
            <div class="flip-card-inner" id="cardmch8" onclick="flipCard(this.id)">
                <div class="card-body custcardbody flip-card-front">
                    <span class="actualtext ">0</span>
                    <span class="slashtext">/</span>
                    <span class="targettext">0</span>
                    <div class="mchnorundetails">Test</div>
                </div>
                <div class="flip-card-back">

                    <canvas id="chartmch8" class="cvsstyle"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted float-start">1000 congo</p>
                <p class="text-success float-end ">OEE : 57.74%</p>
            </div>
        </div>
        <div class="card cardcontainer-row3" id="mch5">
            <div class="card-header">Header</div>
            <div class="flip-card-inner" id="cardmch5" onclick="flipCard(this.id)">
                <div class="card-body custcardbody flip-card-front">
                    <span class="actualtext ">0</span>
                    <span class="slashtext">/</span>
                    <span class="targettext">0</span>
                    <div class="mchnorundetails">Test</div>
                </div>
                <div class="flip-card-back">

                    <canvas id="chartmch5" class="cvsstyle"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted float-start">1000 congo</p>
                <p class="text-muted float-end">OEE : 78%</p>
            </div>
        </div>
        <div class="card cardcontainer-row3" id="mch10">
            <div class="card-header">Header</div>
            <div class="flip-card-inner" id="cardmch10" onclick="flipCard(this.id)">
                <div class="card-body custcardbody flip-card-front">
                    <span class="actualtext ">0</span>
                    <span class="slashtext">/</span>
                    <span class="targettext">0</span>
                    <div class="mchnorundetails">Test</div>
                </div>
                <div class="flip-card-back">

                    <canvas id="chartmch10" class="cvsstyle"></canvas>
                </div>
            </div>
            <div class="card-footer">
                <p class="text-muted float-start">1000 congo</p>
                <p class="text-muted float-end">OEE : 78%</p>
            </div>
        </div>
    </div>
    <div class="card-group">
        <div class="card cardcontainer-row4" id="0">
            <div class="card-header">FINISHING 1</div>
            <div class="card-body custcardbody">
                <span class="actualtext ">0</span>
                <span class="slashtext">/</span>
                <span class="targettext">0</span>
                <div class="mchnorundetails">Test</div>
            </div>
            <div class="card-footer">
                <p class="text-muted float-start">1000 congo</p>
                <p class="text-muted float-end">OEE : 78%</p>
            </div>
        </div>
        <div class="card cardcontainer-row4" id="0">
            <div class="card-header">FINISHING 2</div>


            <div class="card-body custcardbody">

                <span class="actualtext ">0</span>
                <span class="slashtext">/</span>
                <span class="targettext">0</span>
                <div class="mchnorundetails">Test</div>
            </div>

            <div class="card-footer">
                <p class="text-muted float-start">1000 congo</p>
                <p class="text-muted float-end">OEE : 78%</p>
            </div>
        </div>
        <div class="card pagefooter">
            <div id="showtime" align="center" style="color:white; font-size:65px;padding-top:40px"></div>
        </div>
        <div class="card pagefooter">
            <div></div>
            <div class="card-body">

                <div class="gdLogoCls"></div>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>